@import "@styles/settings/__settings";


.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 2em;

}

@media (max-width: 400px){
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}