@import "@styles/settings/__settings";

#snipcart {
  --bgColor-buttonPrimary: #{$color-accent};
  --bgColor-buttonPrimary-hover: #{darken($color-accent, 10)};
  --shadow-buttonPrimary-hover: #{none};
  --bgColor-buttonPrimary-active: #{darken($color-accent, 15)};
  --bgColor-buttonPrimary-focus: #{lighten($color-accent, 10)};
  --shadow-buttonPrimary-focus: 0 0 10px #{lighten($color-accent, 10)};
  --shadow-default: 0 20px 24px -20px rgba(0,0,0,1),
                    -10px 20px 24px -20px rgba(0,0,0,.4);


}

.snipcart-sidecart--opened #__next {
  &:after {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.2);
    content: '';
  }
}

.snipcart-item-line__remove {
  display: flex;
  justify-content: flex-end;
  button {
    font-size: 11px;
  }
}