@import '@styles/util/__util';
@import "@styles/settings/__settings";



.photos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3em;

}

.photoCard {
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transform: scale(1) translateY(-1em);
  transition: transform .1s;
  justify-content: space-between;
  transition: all .4s;
  box-shadow:
    13px 8px 41px -10px rgba(61, 60, 73, 0.28),
    6px 8px 10px -5px rgba(87, 81, 97, 0.12);

  &:hover {
    transform: scale(1.05) translateY(-1em);
    transition: transform .4s;
  }

  h1,
  h2,
  h3,
  p {
    margin-left: 1em;
  }
}

.photoTitle {
  font-size: 1.4em;
  margin: .4em 0 0;
}

.photoPrice {
  margin: .4 0 0;
}

.photoImage {
  @extend %card-image;

}

.discover {
  position: relative;
  display: flex;
  z-index: 10;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;

  h2 {
    font-size: 1.2em;
    margin-top: 6rem;
    margin-bottom: 0;
  }

}

.search {
  input {
    padding: .5em .6em;
    background: none;
    border: 5px solid grey;

    &:focus {
      outline: 0;
      border: 5px solid $color_hyperbros_green;
      box-shadow: 0 0 10px lighten($color_hyperbros_green, 10);
    }
  }
}

.collectionIsActive {
  background-color: darken($color-accent, 10);

}

.collections {
  ul {
    list-style: none;
    margin: 1rem 0 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    gap: .5em;
  }
}

@media (max-width: 440px) {
  .photos {
    font-size: .8rem;
  }
  .collections {
    font-size: .8rem;
  }
}

@media (max-width: 720px) {
  .photos {
    gap: 4rem;
  }

  .discover {
    h2 {
      margin-top: 0rem;
    }
  }
}

@media (min-width: 1400px) {
  .photos {
    gap: 4rem;
  }

  .discover {
    h2 {
      margin-top: 8rem;
    }
  }
}